<section class="new_company">
  <div class="new_company_form">
    <div class="new_company_info">
      <h1>Muchas gracias por querer ser parte de esta familia.</h1>
      <h4>Te invitamos a ingresar a tu correo para validar tu cuenta.</h4>
      <%= link_to 'Volver', root_path, class:'action_button' %>
    </div>
  </div>
  <div class="new_company_img"></div>
</section>