<footer class="home_footer_basic">
  <div class="home_footer_section_basic">
    <span>Contáctanos</span>
    <ul>
      <li class="abc">payzaiens@gmail.com</li>
      <li>319 4942731</li>
      <li>Bogotá, Colombia</li>
    </ul>
  </div>
  <div class="home_footer_section_basic">
    <span>Nosotros</span>
    <ul>
      <li>Como Funciona</li>
      <li>Iniciar Ahora</li>
      <li>Ayuda</li>
    </ul>
  </div>
  <div class="home_footer_section_basic">
    <span>Síguenos</span>
    <ul>
      <li>Instagram</li>
      <li>Facebook</li>
      <li>Youtube</li>
    </ul>
  </div>
</footer>