<div class="">
  <%= link_to @company.name, root_path %>
</div>
<div class="nav_items_basic">
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to 'Tienda', company_shop_path(@company), class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class:"nav-link" if signed_in? %>
    </li>
  </ul>
</div>